.habilidades ul {
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
}

.habilidades li {
  border-radius: 6px;
  background: #eee;
  color: #000;
  font-size: .8rem;
  font-weight: 500;
  padding: 0.2rem 0.6rem;
}
